@using Microsoft.AspNet.Identity
@model Veme.Models.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!--div class="table">

</div-->
<!-- banner of the page -->
<section class="banner bg-full overlay" style="background-image: url(../../Content/Site-theme/images/search-logo.jpg);">
    @*http://placehold.it/1920x900*@
    <div class="holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <h1 class="text-uppercase">@*Welcome   <br class="hidden-xs">at*@ <span class="clr">Veme</span> <br class="hidden-xs">EVERYBODY SAVES.</h1>
                    <form action="@Url.Action("Search","Search")" class="search-form lg-round">
                        <fieldset>
                            <label for="search"><i class="icon icon-search"></i></label>
                            <!--<input type="search" class="form-control" id="search" placeholder="Search coupons & deals">-->
                            @Html.TextBox("SearchKey", "", new { @class = "form-control", placeholder = "Search coupons . . .", id = "search", autocomplete = "off" })
                            <button type="submit" class="btn-icon"><i class="icon-right-arrow"></i></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (ViewBag.ResultMessage != "")
{
    @Html.Raw(ViewBag.ResultMessage)

}

@{
    if (Model.AllOffers.Count() != 0)
    {
        //var indexer = 0;
        <div class="container">
            <div class="latest-coupon container pad-top-lg pad-bottom-md">
                <div class="row">
                    @for (int i = 0; i < Model.AllOffers.Count(); i++)
                    {
                        if (i > 0 && i % 4 == 0)
                        {

                            @*@:</div><div class="row">*@
                            @Html.Raw(":</div><div class=\"row\">")
                            @*Close and start a new row*@
                        }
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <!-- coupon box of the page -->
                            <div class="coupon-box mar-bottom-xs">
                                <div class="img-holder">
                                    @*@if (Model.AllOffers[i].OfferImg != null)*@
                                    @{
                                        //var userId = User.Identity.GetUserId();
                                        const int textMaxLength = 10;
                                        var userId = Model.AllOffers[i].Merchant.MerchantID;
                                        var basePath = Server.MapPath(@"~\Content\images\" + userId + @"\" + Model.AllOffers[i].OfferName + @"\");
                                        var files = Directory.EnumerateFiles(basePath);
                                        var basePathWithoutServer = @"~\Content\images\" + userId + @"\" + Model.AllOffers[i].OfferName + @"\";
                                        var fileName = Path.GetFileName(files.First());
                                        var fullPath = basePathWithoutServer + fileName;
                                        
                                        <img src="@Url.Content(fullPath)" alt="Image not showing" height="190" width="260" class="img-resposnive" />
                                    }
                                </div>
                                <div class="txt-holder">
                                    <!--h3 class="heading6"><a href="coupon-detail.html">Extra Up To 20% Off On All Furnitures</a></h3-->
                                    <h3 class="heading6" style="color:black;"><a href="javascript:void(0);">@Model.AllOffers[i].Merchant.CompanyName</a></h3>
                                    <h3 class="heading6" style="color:black;"><a href="javascript:void(0);">@Model.AllOffers[i].OfferName</a></h3>
                                    @if (Model.AllOffers[i].OfferDetails.Length < textMaxLength)
                                    {
                                        <h5 class=""><a href="javascript:void(0);">@Model.AllOffers[i].OfferDetails</a></h5>
                                    }
                                    else
                                    {
                                        var words = Model.AllOffers[i].OfferDetails.Split(' ');
                                        var totalCharacters = 0;
                                        var summaryWords = new List<string>();
                                        foreach (var word in words)
                                        {
                                            summaryWords.Add(word);

                                            totalCharacters += word.Length + 1;
                                            if (totalCharacters > textMaxLength)
                                            {
                                                break;
                                            }
                                        }
                                        var summary = String.Join(" ", summaryWords) + " ...";
                                        <h5 class=""><a href="javascript:void(0);">@summary</a></h5>

                                    }
                                    @*<ul class="list-unstyled list-show">
                                            <li><a href="#"><i class="icon icon-smile"></i> Verified</a></li>
                                            <li><a href="#"><i class="icon icon-user"></i> Used</a></li>
                                        </ul>*@
                                    @*<a href="coupon-detail.html" class="btn-primary md-round text-center text-uppercase">Get Coupon</a>*@
                                    @*<form action="@Url.Action("Charge","Payment")" method="POST">*@
                                    @Html.ActionLink("Get Coupon", "CouponDetails", "Home", new { OfferId = @Model.AllOffers[i].OfferId }, htmlAttributes: new { @class = "btn-primary md-round text-center text-uppercase" })
                                    <time class="time text-center" datetime="2017-02-03">Expires On : @Model.AllOffers[i].OfferEnds.ToString("MMM-dd-yyyy")</time>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    }
}
