<div class="col-xs-12">
    <a href="javascript:void(0);" class="nav-opener text-center hidden visible-sm visible-xs"><i class="fa fa-bars"></i></a>
    <!-- nav of the page -->
    <nav id="nav">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li>@Html.ActionLink("Privacy Policy", "Policy", "Home")</li>
            <li>@Html.ActionLink("Terms & Conditions", "Terms", "Home")</li>
            @*<li>@Html.ActionLink("Purchase Coupon", "Index", "PurchaseOffer")</li>*@
        </ul>
    </nav>
</div>
